Source: flsdk-meta
Priority: optional
Section: metapackages
Standards-Version: 3.9.5
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org>
Uploaders: Greg Beam <ki7mt@yahoo.com>, Kamal Mostafa <kamal@whence.com>
Build-Depends: debhelper (>= 9.2.0),
    libfile-fcntllock-perl,
    python3-all (>=3.2)
Vcs-Git: https://github.com/KI7MT/flsdk-meta.git
Vcs-Browser: https://github.com/KI7MT/flsdk-meta
X-Python3-Version: >= 3.2

Package: flsdk-native
Architecture: any
Depends: ${misc:Depends},
    asciidoctor,
    autoconf,
    automake,
    autopoint,
    bison,
    extra-xdg-menus,
    flex,
    fluid,
    g++,
    git,
    g++-multilib,
    gperf,
    httping,
    imagemagick,
    libasound2-dev,
    libc6-dev-i386,
    libcairo2-dev,
    libffi-dev,
    libffi-dev,
    libfltk1.3-dev,
    libgdk-pixbuf2.0-dev,
    libglu1-mesa-dev,
    libhamlib-dev,
    libhamlib-utils,
    libjpeg8-dev,
    libltdl-dev,
    libpng12-dev,
    libpulse-dev,
    librpc-xml-perl,
    libsamplerate0-dev,
    libsndfile1-dev,
    libssl-dev,
    libterm-readline-gnu-perl,
    libtool,
    libusb-1.0-0-dev,
    libusb-dev,
    libwww-perl,
    libx11-dev,
    libxext-dev,
    libxft-dev,
    libxinerama-dev,
    libxml-parser-perl,
    libxmlrpc-core-c3-dev,
    m4,
    make,
    nsis,
    p7zip-full,
    portaudio19-dev,
    python3,
    python3-bs4,
    python3-requests,
    ruby,
    scons,
    texinfo,
    wget,
    xz-utils,
    zlib1g-dev
Description: FLSDK Development Base Components.
 This package will install all the required build dependecies for
 compiling static or shared versions of the FLDIGI Suite. It also
 suggests additional packages in order to build Doxygen and HTML
 documentation. After installation flsdk-full can be removed.

Package: flsdk-wsl
Architecture: any
Section: metapackages
Depends: ${misc:Depends},
    autoconf,
    automake,
    autopoint,
    bison,
    bzip2,
    flex,
    g++,
    gcc,
    gettext,
    git,
    gperf,
    intltool,
    libffi-dev,
    libgdk-pixbuf2.0-dev,
    libltdl-dev,
    libssl-dev,
    libtool,
    libtool-bin,
    libxml-parser-perl,
    m4,
    make,
    nsis,
    openssl,
    p7zip-full,
    patch,
    perl,
    pkg-config,
    python,
    python3,
    python3-bs4,
    python3-requests,
    ruby,
    scons,
    unzip,
    wget,
    xz-utils
Description: FLSDK MXE Cross Compiling Dependencies
 This package will install all the required build dependecies for using MXE
 to cross compile FLDIGI applicaitions for Windows 10 WSL. After installation,
 flsdk-wsl can be removed.
 
Package: flsdk-docs
Architecture: any
Depends: ${misc:Depends},
    asciidoc,
    asciidoctor,
    cppcheck,
    doxygen,
    graphviz,
    mscgen,
    texlive
Description: FLSDK Packages for Generating all Docuemtation Types
 This packages installs the elements required to build doxygen, manpages,
 and HTML documents for FLSDK and various FLDIGI applications.
